@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Open+Sans+Condensed:wght@300&display=swap");

body {
  margin: 0;
  display: grid;
  color: white;
  height: 100vh;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
ul {
  display: grid;
  width: 600px;
  height: 400px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: column;
}
li {
  list-style: none;
  margin: 10px 0;
}
.hidden {
  display: none;
}
.container {
  justify-self: center;
  align-self: center;
  display: grid;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}
#day {
  justify-self: center;
}

#clock {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
#greeting {
  text-align: center;
}
#greeting > span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  font-family: "Barlow", sans-serif;
  animation: greeting 0.5s forwards;
}
#todo-form {
  text-align: center;
  margin-bottom: 50px;
}
#todo-form > input {
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 2rem;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 200;
  width: 350px;
}
#todo-form > input::placeholder {
  color: white;
  font-weight: 200;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
}
.weatherContainer {
  position: absolute;
  right: 60px;
  top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2rem;
}
.weatherContainer > span:first-child {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  font-size: 4rem;
  text-align: end;
  font-weight: 200;
  margin-right: 10px;
}
.weatherContainer > span:nth-child(2) {
  align-self: end;
}
.background,
#effect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.background {
  z-index: -10;
}
#effect {
  z-index: -9;
}
.Rain {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("https://i.pinimg.com/originals/91/95/f4/9195f4dd1b69f90038f627c8af422429.gif");
  background-size: cover;
  opacity: 0.6;
  filter: brightness(1.7) grayscale();
}
.Snow {
  background-color: rgba(120, 120, 120, 0.6);
  background-image: url("https://i.pinimg.com/originals/9c/44/56/9c4456e6ae88c4724c731c453fe30847.gif");
  background-size: contain;
  background-repeat: repeat-x;
  opacity: 0.6;
  filter: brightness(1.7) grayscale();
}
.Clear {
  background-color: rgba(255, 255, 255, 0.1);
}
#quote {
  position: absolute;
  bottom: 0;
  justify-self: center;
  text-shadow: 0 0 12px black;
  margin-bottom: 10px;
}
#quote > span {
  display: block;
  text-align: center;
}

@keyframes greeting {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
